.body {
    min-height: 100%;
}

a {
    color: #666666;
    font-size: 18px;
}

/* Header */
.header-block-raising-money-for-playground {
    height: 150px;
    width: 100%;
    background-color: #698DAD;
    margin-bottom: 50px;
}

.header-block-raising-money-for-playground-title {
    width: 55%;
    height: 150px;
    border-color: white #698DAD;
    border-style: solid;
    border-width: 148px 130px 0 0;
}

.header-block-raising-money-for-playground-title b {
    position: absolute;
    color: #698DAD;
    font-size: 18px;
    margin-top: -98px;
    margin-left: 17%;
}

.header-block-raising-money-for-playground-interest {
    width: 40%;
    height: 150px;
    margin-left: 55%;
    margin-top: -131px;
}

.header-block-raising-money-for-playground-interest-title {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.header-block-raising-money-for-playground-interest-value {
    background-color: white;
    width: 80%;
    text-align: center;
    height: 40px;
    margin-left: 10%;
    padding: 1px;
}

.header-block-raising-money-for-playground-interest-value-line {
    background-color: #F9C444;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#F9C444, endColorstr=#F9A720);
    background-image: -moz-linear-gradient(left top, #F9C444 31%, #F9A720 61%, #ff8d00 100%);
    background-image: linear-gradient(left top, #F9C444 31%, #F9A720 61%, #ff8d00 100%);
    background-image: -webkit-linear-gradient(left top, #F9C444 31%, #F9A720 61%, #ff8d00 100%);
    background-image: -o-linear-gradient(left top, #F9C444 31%, #F9A720 61%, #ff8d00 100%);
    background-image: -ms-linear-gradient(left top, #F9C444 31%, #F9A720 61%, #ff8d00 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(31%, #F9C444), color-stop(61%, #F9A720), color-stop(100%, #ff8d00));
    height: 37px;
}

.header-block-raising-money-for-playground-interest-value b {
    font-size: 18px;
    position: absolute;
    margin-left: -1%;
    margin-top: 5px;
}

.header-block-raising-money-for-playground-bottom {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate-slash {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.header-block-raising-money-for-playground-collected {
    font-size: 15px;
    color: white;
}

.header-logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 6%;
    margin-top: -106px;
}

/* Nav-bar */
.nav-bar {
    width: 80%;
    float: right;
    margin-top: -40px;
}

.nav-bar-subparagraph {
    width: 100%;
    height: 50px;
    background-color: #698DAD;
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-a {
    color: white;
    padding-left: 30px;
    padding-right: 50px;
}

/* End Nav-bar */
/* End Header */

/* Body */
/* Body Header */

.body-header {
    width: 100%;
    height: 412px;
    background-image: url(/images/body/body-header.jpg);
    background-color: white;
}

.body-block {
    margin-top: -412px;
}

.body-header-block {
    padding-top: 30px;
}

.body-header-block-title-first {
    color: #666666;
    font-size: 18px;
    margin-left: 50px;
}

.body-header-block-title-second {
    color: black;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.body-header-block-title-three {
    color: black;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.body-header-block-image {
    width: 90%;
    height: 200px;
    margin-top: 30px;
}

.body-header-image {
    width: 100%;
    height: 250px;
}

/* End Body Header */

.body-discussion-block {
    height: auto;
    margin-top: 80px;
}

.body-discussion-block-title-first {
    float: left;
    font-size: 18px;
    margin-left: 10%;
}

.body-discussion-block-title-separator {
    float: left;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.body-discussion-block-title-second {
    font-size: 18px;
    color: #666666;
}

.body-discussion-block-list-for {
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.body-discussion-block-list-one {
    display: flex;
    justify-content: center;
}

.panel-heading {
    width: 100%;
    height: 200px;
    border-top: 2px solid blue;
    border-radius: 0;
    padding: 0;
}

.panel-body {
    padding: 40px;
}

.panel {
    border: 1px solid rgba(0, 17, 255, 0.2);
    border-radius: 0;
    width: 90%;
}

.body-discussion-image {
    width: 100%;
    height: 100%;
}

.body-discussion-block-panel-block-new-team {
    color: #666666;
    font-weight: 800;
}

.body-discussion-block-panel-block-date {
    float: right;
    color: #666666;
}

.body-discussion-block-panel-block-title {
    margin-top: 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.body-discussion-block-panel-block-description {
    font-weight: 700;
}

.comments-show-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments-show {
    margin-top: 5px;
    border-top: 1px solid #666666;
}

.comments-show-name {
    color: #0066cc;
    margin-top: 10px;
}

.comments-show-date {
    float: right;
    color: #666666;
}

.comments-show-description {
    margin-top: 10px;
    margin-left: 5px;
}

.block-index-page-info {
    width: 100%;
    margin-top: 50px;
    height: 600px;
    background-color: #698DAD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-index-page-info-row {
    background-color: #F0F5FB;
    width: 345px;
    height: 500px;
    margin-right: 20px;
}

.block-index-page-info-row-header {
    width: 100%;
    height: 60px;
}

.block-index-page-info-row-header p {
    color: black;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
}

.block-index-page-info-row-image {
    width: 100%;
    height: 200px;
}

.block-index-page-info-row-image img {
    width: 100%;
    height: 100%;
}

.block-index-page-info-row-title {
    width: 100%;
    margin-top: 40px;
    padding-left: 30px;
    height: 60px;
}

.block-index-page-info-row-title p {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.block-index-page-info-row-description {
    width: 100%;
    padding-left: 30px;
    height: 50px;
}

.block-index-page-info-row-description p {
    padding-right: 10px;
    font-size: 12px;
    color: #666666;
}

.block-index-page-info-row-link {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    height: 50px;
}

.block-index-page-info-row-link p a {
    color: #0066cc;
}

.block-index-page-matches {
    width: 80%;
    height: 250px;
    margin-top: 50px;
    border: 1px solid rgba(102, 102, 102, 0.2);
    background-color: #E2F2FF;
}

.block-index-page-matches-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.block-index-page-next-math {
    font-size: 25px;
    padding: 20px;
    color: black;
}

.block-index-page-border {
    border-top: 1px solid rgba(102, 102, 102, 0.2);
    border-left: 1px solid rgba(102, 102, 102, 0.2);
    border-right: 1px solid rgba(102, 102, 102, 0.2);
    background-color: white;
}

.block-index-page-matches-body {
    width: 100%;
    height: 150px;
    background-color: white;
    margin-top: -10px;
}

.block-index-page-matches-body-tour {
    padding-top: 10px;
    font-weight: 600;
    color: #666666;
}

.block-index-page-matches-body-team-one {
    width: 30%;
    height: 80px;
    margin-left: 30px;
    float: left;
}

.block-index-page-matches-body-team-one p {
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
}

.block-index-page-matches-body-team-one img {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -71px;
}

.block-index-page-matches-body-team-result-bottom {
    margin-top: -12px;
    width: 270px;
    border-top: 25px solid white;
    border-left: 25px solid white;
    border-bottom: 25px solid #698DAD;
    border-right: 25px solid white;
}

.block-index-page-matches-body-team-result {
    width: 30%;
    float: left;
    margin-left: 2%;
}

.block-index-page-matches-body-team-goals {
    font-size: 45px;
    color: green;
    text-align: center;
    font-weight: 600;
}

.block-index-page-matches-next-match-day {
    position: absolute;
    font-weight: 500;
    color: white;
    text-align: center;
}

.block-index-page-matches-body-team-two {
    width: 30%;
    height: 80px;
    float: left;
}

.block-index-page-matches-body-team-two p {
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding-top: 20px;
    padding-right: 20px;
    float: right;
}

.block-index-page-matches-body-team-two img {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: -10px;
}

/* End Body */

/* Gallery */
.index-photo-big {
    width: 100%;
    height: 350px;
    margin-left: 30px;
    margin-top: 30px;
}

.index-photo-right {
    width: 100%;
    height: 171px;
}

.index-photo-description {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 50px;
    margin-top: -50px;
}

.index-photo-description-big {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    margin-left: 30px;
}

.index-photo-description-count {
    font-weight: 600;
    font-size: 30px;
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}

.index-photo-description-link {
    float: right;
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-top: -50px;
    padding-right: 20px;
}

.index-photo-bottom {
    margin-left: 15px;
    margin-bottom: 100px;
    margin-right: 0;
}

.gallery-cart-photo-block {
    margin-top: 50px;
}

.gallery-cart-photo {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-shadow: 0 1px #FFF inset, 0 0 50px #000000;
    margin-bottom: 20px;
}

.gallery-cart-photo-modal-window {
    width: 100%;
    height: 100%;
}

/* End Gallery */

/* KFC */
/* KFC Spending */
.table-spending {
    background-color: #ECF3FB;
    border-top: 5px solid #698DAD;
    width: 100%;
}

.table-bottom {
    width: 100%;
    background-color: #698DAD;
    color: white;
    height: 40px;
}

.table-spending-count-name {
    font-size: 15px;
    font-weight: 500;
    border-right: 1px solid white;
}

.table-spending-count-value {
    font-size: 15px;
    font-weight: 500;
}

/* End KFC Spending */

/* KFC List_Of_Candidates */
.list-candidates-block {
    min-height: 300px;
    background-color: #ECF3FB;
    margin-top: 30px;
    margin-left: 30px;
    border-top: 2px solid #698DAD;
    border-left: 1px solid rgba(102, 102, 102, 0.2);
    border-right: 1px solid rgba(102, 102, 102, 0.2);
    border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.list-candidates-block-people {
    padding-top: 30px;
    padding-left: 40px;
}

.list-candidates-block-people-name {
    padding: 1px;
}

.list-candidates-block-years {
    margin-top: 50px;
}

.list-candidates-block-year-active-corner {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 37px solid #6894B7;
    border-bottom: 25px solid transparent;
    margin-left: -185px;
    position: absolute;
    margin-top: -25px;
}

.list-candidates-block-year-active {
    width: 500px;
    height: 50px;
    background-color: #6894B7;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#6894B7, endColorstr=#89ADCF);
    background-image: -moz-linear-gradient(left top, #6894B7 42%, #89ADCF 60%, #BFD6E8 100%);
    background-image: linear-gradient(left top, #6894B7 42%, #89ADCF 60%, #BFD6E8 100%);
    background-image: -webkit-linear-gradient(left top, #6894B7 42%, #89ADCF 60%, #BFD6E8 100%);
    background-image: -o-linear-gradient(left top, #6894B7 42%, #89ADCF 60%, #BFD6E8 100%);
    background-image: -ms-linear-gradient(left top, #6894B7 42%, #89ADCF 60%, #BFD6E8 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(42%, #6894B7), color-stop(60%, #89ADCF), color-stop(100%, #BFD6E8));
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.list-candidates-block-year {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.list-candidates-block-year-name {
    font-size: 25px;
    color: #666666;
    font-weight: 500;

}

.list-candidates-block-year-name-active {
    font-size: 25px;
    color: white;
    font-weight: 500;

}

/* End KFC List_Of_Candidates */

/* KFC Regulations */
.regulations-block {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regulations-block-number-active {
    width: 100px;
    height: 100px;
    background-color: #FDAB2D;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regulations-block-number-triangle-active {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #FDAB2D;
    margin-top: 130px;
}

.regulations-block-number-active a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-right: -30px;
}

.regulations-block-number {
    width: 100px;
    height: 100px;
    background-color: #698DAD;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regulations-block-number-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #6894B7;
    margin-top: 130px;
}

.regulations-block-number a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-right: -30px;
}

.regulations-block-list-terms {
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #6894B7;
}

.regulations-block-list-terms-text {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.regulations-block-list-terms-text-p {
    float: left;
    color: white;
    font-weight: 500;
}

/* EndKFC Regulations */

/* End KFC */

/* Footer */
.block-footer {
    height: 80px;
    margin-top: -80px;
}

.footer-background {
    width: 100%;
    height: 100%;
}

.footer-block-left {
    margin-left: 150px;
    margin-top: 20px;
}

.footer-block-left p {
    margin-top: 10px;
    color: white;
    font-weight: 400;
}

.footer-block-line {
    width: 2px;
    height: 60%;
    background-color: white;
}

.footer-emblema {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.footer {
}

.footer-block {
    margin-top: -150px;
}

/* End Footer */